<div fxLayout="column">
    
    <div fxLayout="row" fxLayout.xs="column" >
        <div fxFlex="100" [hidden]="!stillProcessing" >
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
    </div>

    <div fxLayout="row" fxLayout.xs="column" >
        <!-- Url List -->
        <div fxFlex="50" style="padding: 10px">
            <div fxLayout="column">
                <div fxLayout="row" fxLayout.xs="column" style="padding-bottom: 10px;">
                    <div fxFlex="70">
                        <span style="color: goldenrod;">URL End Points</span>
                    </div>
                    <div fxFlex="10" style="padding-right: 5px;">
                        <button mat-flat-button color="primary" (click)="buttonAdd()" style="width:100%">Add</button>
                    </div>
                    <div fxFlex="10" style="padding-right: 5px;">
                        <button mat-flat-button color="primary" (click)="buttonImport()" style="width:100%">Import</button>
                    </div>
                    <div fxFlex="10" style="padding-right: 5px;">
                        <button mat-flat-button color="primary" (click)="buttonExport()" style="width:100%">Export</button>
                    </div>
                </div>
                <div fxLayout="row" fxLayout.xs="column" style="padding-bottom: 10px;">
                    <div fxFlex="100">
                        <mat-table [dataSource]="urlDataSource">
                            <!-- Row No. -->
                            <ng-container matColumnDef="id" >
                                <mat-header-cell *matHeaderCellDef>No. </mat-header-cell>
                                <mat-cell *matCellDef="let row; let i = index"> {{ i+1 }} </mat-cell>
                            </ng-container>
                            <!-- Type -->
                            <ng-container matColumnDef="type" >
                                <mat-header-cell *matHeaderCellDef>Type </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.type}} </mat-cell>
                            </ng-container>
                            <!-- Url -->
                            <ng-container matColumnDef="url">
                                <mat-header-cell *matHeaderCellDef> URL </mat-header-cell>
                                <mat-cell *matCellDef="let row; let i = index"> <a style="color: blue;" [routerLink]="" (click)="editRow(row, i)">{{row.url}}</a> </mat-cell>
                            </ng-container>
                            <mat-header-row *matHeaderRowDef="urlDataColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: urlDataColumns;"></mat-row>
                        </mat-table>
                    </div>
                </div>
                <div fxLayout="row" fxLayout.xs="column">
                    <div fxFlex="100">
                        <mat-form-field appearance="fill" class="full-width">
                            <mat-label>Total Users</mat-label>
                            <input type="text" matInput placeholder="Total Number of Users" [(ngModel)]="users" >
                        </mat-form-field>
                    </div>
                </div>
                <div fxLayout="row" fxLayout.xs="column">
                    <div fxFlex="100">
                        <mat-form-field appearance="fill" class="full-width">
                            <mat-label>Duration (mins)</mat-label>
                            <input type="text" matInput placeholder="Duration" [(ngModel)]="duration" >
                        </mat-form-field>
                    </div>
                </div>
                <div fxLayout="row" fxLayout.xs="column">
                    <div fxFlex="100">
                        <mat-form-field appearance="fill" class="full-width">
                            <mat-label>Ramp-up (mins)</mat-label>
                            <input type="text" matInput placeholder="Ramp-up" [(ngModel)]="ramp" >
                        </mat-form-field>
                    </div>
                </div>
                <div fxLayout="row" fxLayout.xs="column">
                    <div fxFlex="100">
                        <h4 style="color:rosybrown">{{ testDurationStatement() }}</h4>
                    </div>
                </div>
            </div>
        </div>
        <!-- Status Display -->
        <div fxFlex="50" style="padding: 10px">
            <div fxLayout="column">
                <div fxLayout="row" fxLayout.xs="column" style="padding-bottom: 10px;">
                    <div fxFlex="100">
                        <button mat-flat-button color="accent" (click)="buttonRunTest()" style="width:100%">{{ start_running_label }}</button>
                    </div>
                </div>
                <div fxLayout="row" fxLayout.xs="column" style="padding-bottom: 10px;">
                    <mat-card style="width: 100%;">
                        <mat-card-header>
                            <mat-card-title>Test Results</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <table>
                                <thead>
                                    <tr>
                                      <th>Index</th>
                                      <th>Batch</th>
                                      <th>User</th>
                                      <th>URL No.</th>
                                      <th>URL</th>
                                      <th>Status</th>
                                      <th>Time</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr *ngFor="let url of urls; let i = index">
                                      <td style="text-align: center;">{{i+1}}</td>
                                      <td style="text-align: center;">{{url['batch']}}</td>
                                      <td style="text-align: center;">{{url['user']}}</td>
                                      <td style="text-align: center;">{{url['url_counter']}}</td>
                                      <td><span style="font-size: smaller;">{{url['url']['url']}}</span></td>
                                      <td style="text-align: center;"><span [ngClass]="url['status'] == 200? 'green-font' : 'green-red'"><b>{{url['status']}}</b></span></td>
                                      <td style="text-align: center;">{{url['total_seconds']}}s</td>
                                    </tr>
                                  </tbody>
                            </table>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>

</div>
