<div fxLayout="column">
    
    <div fxLayout="row" fxLayout.xs="column" >
        <div fxFlex="100" [hidden]="!stillProcessing" >
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
    </div>

    <div fxLayout="row" fxLayout.xs="column" >
        <!-- Url List -->
        <div fxFlex="50" style="padding: 10px">
            <div fxLayout="column">
                <div fxLayout="row" fxLayout.xs="column" style="padding-bottom: 10px;">
                    <div fxFlex="70">
                        <span style="color: goldenrod;">URL End Points</span>
                    </div>
                    <div fxFlex="10" style="padding-right: 5px;">
                        <button mat-flat-button color="primary" (click)="buttonAdd()" style="width:100%">Add</button>
                    </div>
                    <div fxFlex="10" style="padding-right: 5px;">
                        <button mat-flat-button color="primary" (click)="buttonImport()" style="width:100%">Import</button>
                    </div>
                    <div fxFlex="10" style="padding-right: 5px;">
                        <button mat-flat-button color="primary" (click)="buttonExport()" style="width:100%">Export</button>
                    </div>
                </div>
                <div fxLayout="row" fxLayout.xs="column" >
                    <div fxFlex="100">
                        <mat-table [dataSource]="urlDataSource">
                            <!-- Row No. -->
                            <ng-container matColumnDef="id" >
                                <mat-header-cell *matHeaderCellDef>No. </mat-header-cell>
                                <mat-cell *matCellDef="let row; let i = index"> {{ i+1 }} </mat-cell>
                            </ng-container>
                            <!-- Type -->
                            <ng-container matColumnDef="type" >
                                <mat-header-cell *matHeaderCellDef>Type </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.type}} </mat-cell>
                            </ng-container>
                            <!-- Url -->
                            <ng-container matColumnDef="url">
                                <mat-header-cell *matHeaderCellDef> URL </mat-header-cell>
                                <mat-cell *matCellDef="let row"> <a style="color: blue;" [routerLink]="" (click)="editRow(row)">{{row.url}}</a> </mat-cell>
                            </ng-container>
                            <mat-header-row *matHeaderRowDef="urlDataColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: urlDataColumns;"></mat-row>
                        </mat-table>
                    </div>
                </div>
            </div>
        </div>
        <!-- Status Display -->
        <div fxFlex="50" style="padding: 10px">
            <div fxLayout="column">
                <div fxLayout="row" fxLayout.xs="column" style="padding-bottom: 10px;">
                    <div fxFlex="30">
                        <mat-form-field appearance="fill" >
                            <mat-label>Users</mat-label>
                            <input type="text" matInput placeholder="No. of Users" [(ngModel)]="users" >
                        </mat-form-field>
                    </div>
                    <div fxFlex="30">
                        <mat-form-field appearance="fill">
                            <mat-label>Iterations</mat-label>
                            <input type="text" matInput placeholder="No. of Iterations" [(ngModel)]="iterations" >
                        </mat-form-field>
                    </div>
                    <div fxFlex="40">
                        <button mat-flat-button color="primary" (click)="buttonRunTest()" style="width:100%">Run Test</button>
                    </div>
                </div>
                <div fxLayout="row" fxLayout.xs="column" style="padding-bottom: 10px;">
                    <mat-card style="width: 100%;">
                        <mat-card-header>
                            <mat-card-title>Test Results</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <table>
                                <thead>
                                    <tr>
                                      <th>User</th>
                                      <th>URL</th>
                                      <th>Status</th>
                                      <th>Time</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr *ngFor="let url of urls; let i = index">
                                        <td>
                                            {{url['user']}}
                                          </td>
                                      <td>
                                        {{url['url']}}
                                      </td>
                                      <td>
                                        {{url['status']}}
                                      </td>
                                      <td>
                                        {{url['total_seconds']}} seconds
                                      </td>
                                    </tr>
                                  </tbody>
                            </table>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>

</div>
