<h1 mat-dialog-title>
    URL Detail
</h1>

<mat-dialog-content>
    <div fxLayout="column">
        <!-- Type -->
        <div fxLayout="row" fxLayout.xs="column">
            <div fxFlex="100">
                <mat-form-field class="full-width" appearance="fill" >
                    <mat-label>Type</mat-label>
                    <mat-select [(ngModel)]="urlModel.type">
                        <mat-option *ngFor="let type of types" [value]="type">
                          {{type}}
                        </mat-option>
                      </mat-select>
                </mat-form-field>
            </div>
        </div>
        <!-- URL -->
        <div fxLayout="row" fxLayout.xs="column">
            <div fxFlex="100">
                <mat-form-field class="full-width" appearance="fill">
                    <mat-label>URL</mat-label>
                    <textarea matInput placeholder="URL" [(ngModel)]="urlModel.url" rows="4"></textarea>
                </mat-form-field>
            </div>
        </div>
        <!-- Query Parameter, Header, and Auth -->
        <div fxLayout="row" fxLayout.xs="column">
            <div fxFlex="100">
                <mat-tab-group>
                    <mat-tab label="Parameter">
                        <mat-form-field class="full-width" appearance="fill">
                            <mat-label>Parameters</mat-label>
                            <textarea matInput placeholder="{&#10;&#9;filter: '0917',&#10;&#9;page: 1&#10;}" [(ngModel)]="urlModel.queries" rows="8"></textarea>
                        </mat-form-field>
                    </mat-tab>
                    <mat-tab label="Header">
                        <mat-form-field class="full-width" appearance="fill">
                            <mat-label>Headers</mat-label>
                            <textarea matInput placeholder="{&#10;&#9;Accept: text/html,&#10;&#9;Access-Control-Allow-Origin: *&#10;}" [(ngModel)]="urlModel.headers" rows="8"></textarea>
                        </mat-form-field>
                    </mat-tab>
                    <mat-tab label="Auth">
                        <mat-form-field class="full-width" appearance="fill">
                            <mat-label>Auth</mat-label>
                            <textarea matInput placeholder="{&#10;&#9;Authorization: Basic YWxhZGRpbjW1l&#10;}" [(ngModel)]="urlModel.auth" rows="8"></textarea>
                        </mat-form-field>
                    </mat-tab>
                    <mat-tab label="Body">
                        <mat-form-field class="full-width" appearance="fill">
                            <mat-label>Body</mat-label>
                            <textarea matInput placeholder="" [(ngModel)]="urlModel.body" rows="8"></textarea>
                        </mat-form-field>
                    </mat-tab>
                  </mat-tab-group>
            </div>
        </div>
    </div>
</mat-dialog-content>

<mat-divider></mat-divider>

<mat-dialog-actions align="end">
    <button mat-flat-button color="warn" (click)="buttonDelete()" *ngIf="dataType!='SAVE'">
        Delete
    </button>
    <button mat-flat-button color="primary" (click)="buttonSave()" *ngIf="dataType=='SAVE'">
        Save
    </button>
    <button mat-flat-button color="primary" (click)="buttonCancel()">
        Close
    </button>
</mat-dialog-actions>

